body {
    background-color: #292825;
    padding: 50px;
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50pt;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 20pt;;
}

#description {
    margin: auto;
    padding-top: 50px;
    width: 70%;
}

#footer {
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}