body {
    background-color: #292825;
    padding: 50px;
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50pt;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}